<section class="skills" id="skills">
  <div class="max-width">
    <h2 class="title">My skills</h2>
    <div class="skills-content">
      <div class="column left">
        <div class="text">My creative skills & experiences.</div>
        <p>
          Hi, I’m
          <span style="color: #fa952e; font-family: cursive">Sai Preethi</span>
          . I'm a multi-talented human with experiences in wide range of design
          disciplines.You can also call me a product designer, experience
          designer, interaction, UI, UX or by any other market defined
          function-title. I'm also a multi-disciplinary maker with over 10 years
          of experiences in wide range of design disciplines, manager, advisor,
          entrepreneur, front-end developer, music enthusiast, traveler,
          photographer and more.
        </p>
        <a href="#">Read more</a>
      </div>
      <div class="column right">
        <div class="bars">
          <div class="info">
            <span>HTML</span>
            <span>90%</span>
          </div>
          <div class="line html"></div>
        </div>
        <div class="bars">
          <div class="info">
            <span>CSS</span>
            <span>60%</span>
          </div>
          <div class="line css"></div>
        </div>
        <div class="bars">
          <div class="info">
            <span>JavaScript</span>
            <span>80%</span>
          </div>
          <div class="line js"></div>
        </div>
        <div class="bars">
          <div class="info">
            <span>PHP</span>
            <span>50%</span>
          </div>
          <div class="line php"></div>
        </div>
        <div class="bars">
          <div class="info">
            <span>MySQL</span>
            <span>70%</span>
          </div>
          <div class="line mysql"></div>
        </div>
      </div>
    </div>
  </div>
</section>
